.image {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  width: 45%;
  height: 40px;
  display: flex;
}
.image2 {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  height: 40px;
  display: flex;
}
.title{
  display: flex;
  margin-top: -15px;
  margin-bottom: -10px;
}
body{
  margin: 0;
  background-color: antiquewhite;
}
.morning{
  background-color: antiquewhite;
}
.noon{
  background-color: #97e2ff;
}
.sunset{
  background-color: #ffbcbc;
}
.midnight, .setting.midnight *, .setting2.midnight *{
  background-color: #222222;
  color: #E4E6EB;
}
.matrix, .setting.matrix *, .setting2.matrix *{
  background-color: #101811;
  color: #2FE747;
}
#text-input.morning, #text-input.noon, #text-input.sunset{
  background-color: white;
}
.container.midnight, table.midnight #text-input.midnight, .button.midnight, .setting.midnight, .setting2.midnight{
  background-color: #161616;
  color: #E4E6EB;
  border: 2px solid #E4E6EB;
}
.container.matrix, table.matrix, #text-input.matrix, .button.matrix, .setting.matrix, .setting2.matrix{
  background-color: #080C09;
  color: #2FE747;
  border: 2px solid #2FE747;
}
.svg{
  background-color: white;
  font-family: "Arial", sans-serif;
}
svg line{
  stroke: black;
  stroke-width: 1px;
}
svg.midnight{
  background-color: #161616;
  fill: #E4E6EB;
}
svg.matrix{
  background-color: #080C09;
  fill: #2FE747;
}
.svg.midnight line{
  stroke: #E4E6EB;
}
.svg.matrix line{
  stroke: #2FE747;
}
.header{
  background-color: #f1f1f1;
  text-align: center;
  color: black;
  font-family: "Times New Roman", sans-serif;
}
.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.column{
  float: left;
  width: 49%;
  padding: 15px;
}
.column2{
  float: right;
  width: 49%;
  padding: 15px;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .image{
    padding-top: 10px;
    margin-top: unset;
  }
  .image2 {
    margin: 10px auto;
    margin-left: 5px;
    margin-top: 20px;
    width: 10%;
    height: auto;
  }
  .title{
    margin: 0 auto;
    width: 100%;
    padding-top: 0;
    font-size: 14px;
    text-align: center;
  }
  .title h1{
    margin-left: unset!important;
  }
  .topnav {
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
  .menu li {
    text-align: center;
    float: unset!important;
    border: 1px solid grey;
  }
  .setting2{
    display: flex!important;
  }
  .container {
    flex-direction: column;
    height: 600px!important;
  }
  .left-panel,
  .right-panel {
    width: 100%;
  } 
  .divider {
    width: 100%!important;
    cursor: ns-resize!important;
    height: 10px;
  }
  .input-container {
    flex-direction: column;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  #text-input {
    height: 200px;
  }
  #copy-button {
    margin: 10px auto!important;
    width: 90%;
    float: unset!important;
  }
  .pismo, .pismo2{
    font-weight: normal;
    font-size: 10px;
  }
  #text-input {
    height: 150px;
    width: 22% !important;
  }
  label[for="reduced"] {
    display: block;
    margin-top: 10px;
  }
  .button-grid {
    max-width: 100%;
    grid-template-columns: repeat(5, 1fr) !important;
    @media (max-width: 390px){
      grid-template-columns: repeat(4, 1fr) !important;
    }
    @media (max-width: 310px) {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  .container2{
    max-width: 90%;
  }
  .input-container{
    width: 100%;
  }
  #text-input{
    width: 100% !important;
  }
  #submit-button{
    bottom: 5px !important;
    left: 0px!important;
    width: 100%;
    margin: 10px 0;
  }
  .error-message{
    position: static!important;
  }

  .table-container table{
    flex-basis: 70%!important;
  }
  #syntax-table{
    float: left!important;
    width: 70%;
    margin-left: 30px!important;
  }
  .toggle{
    left: 5px!important;
    width: 100px!important;
  }
  @media (max-width: 455px) {
    .setting, .setting2, .pismo, .pismo2{
      float: unset!important;
      left: unset!important;
      margin-left: 10px;
    }
    .setting, .setting2{
      position: absolute!important;
      right: 10px!important;
      margin-right: 0!important;
    }
    .pismo, .pismo2{

    }
  }
} 
.moznost {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}
.moznost input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 50%;
}
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid black;
}
.moznost input:checked ~ .checkmark{
  background-color: rgb(233, 145, 14);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.moznost input:checked ~ .checkmark:after {
  display: block;
}
.moznost .checkmark:after {
 	top: 3.5px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.moznost .checkmark.midnight:after{
  background: #E4E6EB;
}
.moznost .checkmark.matrix:after{
  background: #2FE747;
}
.moznost input:checked ~ .checkmark2 {
  background-color: #E4E6EB;
}
.moznost input:checked ~ .checkmark2.morning, .moznost input:checked ~ .checkmark.morning{
  background-color: rgb(233, 145, 14);
}
.moznost input:checked ~ .checkmark2.noon, .moznost input:checked ~ .checkmark.noon{
  background-color: blue;
}
.moznost input:checked ~ .checkmark2.sunset, .moznost input:checked ~ .checkmark.sunset{
  background-color: red;
}
.moznost input:checked ~ .checkmark2.midnight, .moznost input:checked ~ .checkmark2.matrix, .moznost input:checked ~ .checkmark.midnight, .moznost input:checked ~ .checkmark.matrix{
  background-color: black;
}
.checkmark.midnight, .checkmark2.midnight{
  background: black;
  border: 2px solid #E4E6EB;
}
.checkmark.matrix, .checkmark2.matrix{
  background: black;
  border: 2px solid #2FE747;
}
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
.moznost input:checked ~ .checkmark2:after {
  display: block;
}
.moznost .checkmark2:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.moznost .checkmark2.midnight:after{
  border-color: #E4E6EB;
}
.moznost .checkmark2.matrix:after{
  border-color: #2FE747;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 10px;
  padding-top: 10px;
}
.button {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button img {
  max-width: 30px;
  max-height: 30px;
}
.input-container {
  align-items: center;
}
input[type="text"]{
  flex: 1;
  border: 1px solid #ccc;
  width: 650px;
  height: 300px;
}
.click-button{
  border: none;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
}
.click-button.morning, th.morning{
  background-color: rgb(233, 145, 14);
  color: #fff;
}
.click-button.noon, th.noon{
  background-color: blue;
  color: #fff;
}
.click-button.sunset, th.sunset{
  background-color: red;
  color: #fff;
}
.click-button.midnight{
  background-color: black;
  color: #E4E6EB;
  border: 2px solid #E4E6EB;
}
.click-button.matrix{
  background-color: black;
  color: #2FE747;
  border: 2px solid #2FE747;
}
button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(180, 172, 172);
  cursor: pointer;
}
.button:active {
  background-color: rgb(150, 142, 142);
}
.hidden {
  display: none;
}
.topnav{
  overflow: hidden;
  background-color: #333;
  font-family: "Times New Roman", sans-serif;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
th{
  background-color: #ccc;
  text-align: center;
  width: 25px;
}
td{
  width: 20px;
  text-align: center;
}
th.midnight{
  border: 1px solid #E4E6EB;
  color: #E4E6EB;
}
th.matrix{
  border: 1px solid #2FE747;
}
td.morning, td.noon, td.sunset{
  background-color: white;
}
td.midnight{
  background-color: black;
  border: 1px solid #E4E6EB;
  color: #E4E6EB;
}
td.matrix{
  background-color: black;
  border: 1px solid #2FE747;
}
.toggle.matrix{
  --ball-color-checked: #2FE747;
  --ball-color-unchecked: #2FE747;
}
.table-container {
  display: flex;
  flex-wrap: wrap;
  float: left;
}
table {
  margin: 30px;
  flex: 0 0 20%; 
  margin-right: 10px; 
}
table:last-child {
  margin-right: 0;
}
td:nth-child(2), th:nth-child(2) {
  white-space: nowrap;
}
.double-border {
  border-bottom: 5px double #000;
  font-weight: bold;
}
.error-message {
  display: none;
  position: absolute;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  right: 100px;
  bottom: 120px;
}
.manual{
  padding: 20px;
  text-align: justify;
}
input[type="radio"].midnight{
  border-color: #E4E6EB;
  background-color: black;
}
input[type="radio"].matrix{
  border-color: #2FE747;
  background-color: black;
}
/* https://www.tutorialstonight.com/css-toggle-switch-with-text */
.toggle {
  --width: 110px;
  --height: calc(var(--width) / 4);
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  cursor: pointer;
  float: left;
  left: 30px;
  --ball-color-checked: white;
  --ball-color-unchecked: white;
}
.toggle input {
  display: none;
}
.toggle .slider {
  position: absolute;
  top: -1px;
  left: -2px;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  border: 1px solid black;
  transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: calc(var(--height)*0.6);
  height: calc(var(--height)*0.6);
  border-radius: calc(var(--height) / 2);
  border: 1px solid black;
  transition: all 0.4s ease-in-out;
  background-color: var(--ball-color-unchecked);
}
.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
.toggle .labels {
  position: absolute;
  padding-top: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
}
.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 8px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.toggle input:checked~.labels::after {
  opacity: 0;
}
.toggle input:checked~.labels::before {
  opacity: 1;
}
.toggle input:checked + .slider::before {
  background-color: var(--ball-color-checked);
}
#submit-button{
  position: relative;
  bottom: 150px;
  height: 44px;
  left: 15px;
}
.setting{
  position: relative;
  font-size: 20px; 
  float: left;
  left: 145px;
  margin-top: 10px; 
  border-radius: 6px;
  border: 1px solid black;
  background-color: white;
}
.setting2{
  position: relative;
  font-size: 20px; 
  float: right;
  margin-right: 10px;
  margin-top: 10px; 
  border-radius: 6px;
  border: 1px solid black;
  background-color: white;
}
.container {
  display: flex;
  height: 480px; 
  border: 1px solid #ccc;
  overflow: hidden;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.left-panel, .right-panel {
  flex: 1;
  min-width: 300px;
  overflow: auto;
}
.divider {
  width: 10px;
  cursor: ew-resize;
  background-color: #ddd;
}
.divider.matrix{
	background-color: #2FE747;
}
.output-container {
  width: 100%;
  height: 480px;
  resize: None;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.pismo{
  position: relative;
  float: left;
  left: -55px;
  margin-top: 10px; 
  font-size: 18px;
  font-weight: bold;
}
.pismo2{
  position: relative;
  float: right; 
  margin-top: 10px; 
  font-size: 18px;
  font-weight: bold;
}
.container2 {
  position: relative;
  width: 1310px;
  margin: 0 auto;
  padding: 10px;
}
#text-input{
  flex: 1;
  border: 1px solid #ccc;
  width: 93%;
  height: 300px;
  resize: none;
}
.right-panel{
  overflow: auto;
}
#output-text{
	 padding-left: 10px;
	padding-right: 10px;
}
#copy-message{
  display: none;
  position: absolute;
  top: 720px;
  border: 1px solid;
  padding: 5px;
  width: fit-content;
}