<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
  <title>Rezolučná metóda</title>
</head>

<body>
<div class="header">
  <div class="image"> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"> </div>
    <a href="{{ url_for('indexeng')}}"><img class="image2" src="{{ url_for('static', filename='img/eng.png') }}" alt="English"></a>
    <a href="{{ url_for('index')}}"><img class="image2" src="{{ url_for('static', filename='img/svk.png') }}" alt="Slovak"></a>
    <div class ="title"> <h1 style="margin-left:-300px;">Systém automatického dokazovania pomocou rezolúcie</h1> </div>
</div>

<div class="topnav">
  <ul class="menu">
    <li style="float:left;"><a href="{{ url_for('index')}}">Rezolúcia</a></li>
    <li style="float:right"><a href="{{ url_for('syntax')}}">Syntax</a></li>
    <li style="float:right"><a href="{{ url_for('manual')}}">Manuál</a></li>
    <li style="float:right"><a href="{{ url_for('truth')}}">Pravdivostné tabuľky</a></li>
  </ul>
</div>
<br>
<select id="fontSizeSelect" class="setting" onchange="changeFontSize()">
  <option selected>16px</option>
  <option>18px</option>
  <option>24px</option>
  <option>32px</option>
  <option>48px</option>
</select>
<p class="pismo">Veľkosť písma: &nbsp;&nbsp;</p>
<select class="setting2" id="theme-select">
  <option value="morning">Morning</option>
  <option value="noon">Noon</option>
  <option value="sunset">Sunset</option>
  <option value="midnight">Midnight</option>
  <option value="matrix">Matrix</option>
</select>
<p class="pismo2">Výber motívu:&nbsp;&nbsp;</p>
<label style="float: right; font-size: 18px;" for="theme-select"></label>
  
<div class="container">
  <div class="left-panel">
    <h2 style="text-align: center;">Výstup</h2>
    <div id="left-output" class="output-container">
      <div id="output-text" class="editable-text">{{ output | safe }}</div>
    </div>
  </div>
  <div class="divider" id="divider"></div>
  <div class="right-panel">
    <div id="options-container">
      <label class="toggle click-button">
        <input type="checkbox">
        <span class="slider"></span>
        <span class="labels" data-on="Tabuľka" data-off="Strom"></span>
      </label>
      <div id="resolution-tree" style="display: none;">
        <h2 style="text-align: center;">Rezolučný strom</h2>
        <div class="output-container">
          <div id="output-text-tree" class="editable-text" onclick="copyToClipboardTree()">{{ tree | safe }}</div>
          <textarea id="latex-tree" style="display:none;">{{ latex_tree | safe }}</textarea>
        </div>
      </div>
      <div id="resolution-table">
        <h2 style="text-align: center;">Rezolučná tabuľka</h2>
        <div class="output-container">
          <div id="output-text-table" class="editable-text" onclick="copyToClipboardTable()">{{ table | safe }}</div>
          <textarea id="latex-table" style="display:none;">{{ latex_table | safe }}</textarea>
        </div>
      </div>
    </div>
    <textarea id="latex-output" style="display:none;">{{ latex_output | safe }}</textarea>
    <textarea id="latex-formula" style="display:none;">{{ latex_formula | safe }}</textarea>
    <textarea id="latex-negation-steps" style="display:none;">{{ latex_negation_steps | safe }}</textarea>
    <textarea id="latex-negation" style="display:none;">{{ latex_negation | safe }}</textarea>
    <textarea id="latex-cnf-steps" style="display:none;">{{ latex_cnf_steps | safe }}</textarea>
    <textarea id="latex-cnf" style="display:none;">{{ latex_cnf | safe }}</textarea>
    <textarea id="latex-set" style="display:none;">{{ latex_set | safe }}</textarea>

  </div>
</div>
<br>
<button id="copy-button" class="click-button hide" type="submit" onclick="copyToClipboardOutput()" style="float: left; height: 40px; margin-left: 10px;" >Kopírovať Výstup</button>
<select class="setting4 hide" id="output-select" onchange="outputSelect()">
  <option value="latex-output">Všetko</option>
  <option value="latex-formula">Úprava formuly</option>
  <option value="latex-negation-steps">Kroky negácie formuly</option>
  <option value="latex-negation">Negácia formuly</option>
  <option value="latex-cnf-steps">Kroky prevodu na KNF</option>
  <option value="latex-cnf">Formula v KNF</option>
  <option value="latex-set">Množinová notácia</option>
</select>
<button id="copy-button" class="click-button hide" type="submit" onclick="copyToClipboardTree()" style="float: right; height: 40px; margin-right: 10px;">Kopírovať Strom</button>
<button id="copy-button" class="click-button hide" type="submit" onclick="copyToClipboardTable()" style="float: right; height: 40px; margin-right: 10px;">Kopírovať Tabuľku</button>
<div id="copy-message">Skopírované</div>
<br><br>

<select class="setting3" id="example-select" onchange="inputExample()">
  <option value="0">---</option>
  <option value="1">Jednoduchý vstup</option>
  <option value="2">Symbolický vstup</option>
  <option value="3">LaTeX vstup</option>
  <option value="4">ASCII vstup</option>
  <option value="5">DIMACS vstup</option>
</select>
<p class="pismo2">Príklady:&nbsp;</p>

<div class="container2">
  <div class="input-container">
  <form id="inp-form" method="post">
    <textarea type="text" id="text-input" name="inp"></textarea>
    <div id="errorMessage" class="error-message">Toto pole je povinné</div>
    <button id="submit-button" class="click-button" type="submit">POTVRĎ</button>
    <h3 style="margin-left: 10px; margin-top: -10px;">Stratégia rezolúcie:</h3>

    <label class="moznost" for="option1">Úplna
      <input type="radio" checked="checked" name="option" id="option1" value="Full">
      <span class="checkmark"></span>
    </label>
    <label class="moznost" for="option2">Jednotková
      <input type="radio"name="option" id="option2" value="Unit">
      <span class="checkmark"></span>
    </label>
    <label class="moznost" for="option3">Lineárna
      <input type="radio" name="option" id="option3" value="Linear">
      <span class="checkmark"></span>
    </label>
    <label class="moznost" for="reduced">Redukovaný strom
      <input type="checkbox" id="reduced" name="reduced">
      <span class="checkmark2"></span>
    </label>
    <label class="moznost" for="full">Plne zátvorkovaná formula
      <input type="checkbox" id="full" name="full">
      <span class="checkmark2"></span>
    </label>

  </form>
  </div>
  <div class="button-grid">
    <div class="button" data-symbol="¬">
      <button data-symbol="¬"><img class="sym" data-symbol="¬" src="{{ url_for('static', filename='img/NOT.png') }}" alt="NOT"></button>
    </div>
    <div class="button" data-symbol="∧ ">
      <button data-symbol="∧ "><img class="sym" data-symbol="∧ " src="{{ url_for('static', filename='img/AND.png') }}" alt="AND"></button>
    </div>
    <div class="button" data-symbol="∨ ">
      <button data-symbol="∨ "><img class="sym" data-symbol="∨ " src="{{ url_for('static', filename='img/OR.png') }}" alt="OR"></button>
    </div>
    <div class="button" data-symbol="⇒ ">
      <button data-symbol="⇒ "><img class="sym" data-symbol="⇒ " src="{{ url_for('static', filename='img/IMPLIES.png') }}" alt="IMPLIES"></button>
    </div>
    <div class="button" data-symbol="⇔ ">
      <button data-symbol="⇔ "><img class="sym" data-symbol="⇔ " src="{{ url_for('static', filename='img/EQUIV.png') }}" alt="EQUIV"></button>
    </div>
    <div class="button" data-symbol="(">
      <button data-symbol="("><img class="sym" data-symbol="(" src="{{ url_for('static', filename='img/LPAREN.png') }}" alt="LPAREN"></button>
    </div>
    <div class="button" data-symbol=") ">
      <button data-symbol=") "><img class="sym" data-symbol=") " src="{{ url_for('static', filename='img/RPAREN.png') }}" alt="RPAREN"></button>
    </div>
    <div class="button" data-symbol="↑ ">
      <button data-symbol="↑ "><img class="sym" data-symbol="↑ " src="{{ url_for('static', filename='img/NAND.png') }}" alt="NAND"></button>
    </div>
    <div class="button" data-symbol="↓ ">
      <button data-symbol="↓ "><img class="sym" data-symbol="↓ " src="{{ url_for('static', filename='img/NOR.png') }}" alt="NOR"></button>
    </div>
    <div class="button" data-symbol="⊕ ">
      <button data-symbol="⊕ "><img class="sym" data-symbol="⊕ " src="{{ url_for('static', filename='img/XOR.png') }}" alt="XOR"></button>
    </div>
    <div class="button" data-symbol="α ">
      <button data-symbol="α "><img class="sym" data-symbol="α " src="{{ url_for('static', filename='img/ALPHA.png') }}" alt="ALPHA"></button>
    </div>
    <div class="button" data-symbol="β ">
      <button data-symbol="β "><img class="sym" data-symbol="β " src="{{ url_for('static', filename='img/BETA.png') }}" alt="BETA"></button>
    </div>
    <div class="button" data-symbol="φ ">
      <button data-symbol="φ "><img class="sym" data-symbol="φ " src="{{ url_for('static', filename='img/PHI.png') }}" alt="PHI"></button>
    </div>
    <div class="button" data-symbol="ψ ">
      <button data-symbol="ψ "><img class="sym" data-symbol="ψ " src="{{ url_for('static', filename='img/PSI.png') }}" alt="PSI"></button>
    </div>
    <div class="button" data-symbol="ω ">
      <button data-symbol="ω "><img class="sym" data-symbol="ω " src="{{ url_for('static', filename='img/OMEGA.png') }}" alt="OMEGA"></button>
    </div>
  </div>
</div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>