<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
  <title>Rezolučná metóda</title>
</head>
  
<body>
<div class="header">
  <div class="image"> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"> </div>
    <a href="{{ url_for('manualen')}}"><img class="image2" src="{{ url_for('static', filename='img/eng.png') }}" alt="English"></a> 
    <a href="{{ url_for('manual')}}"><img class="image2" src="{{ url_for('static', filename='img/svk.png') }}" alt="Slovak"></a>
    <div class ="title"> <h1 style="margin-left:-300px;">Systém automatického dokazovania pomocou rezolúcie</h1> </div>
</div>


<div class="topnav">
  <ul class="menu">
    <li style="float: left;"><a href="{{ url_for('index')}}">Domov</a></li>
    <li style="float:right"><a href="{{ url_for('syntax')}}">Syntax</a></li>
    <li style="float:right"><a href="{{ url_for('manual')}}">Manuál</a></li>
	<li style="float:right"><a href="{{ url_for('truth')}}">Pravdivostné tabuľky</a></li>
  </ul>
</div>
<select style="font-size: 20px; float: right; margin-top: 30px; margin-right: 10px;"  id="theme-select" class="setting2">
  <option value="morning">Morning</option>
  <option value="noon">Noon</option>
  <option value="sunset">Sunset</option>
  <option value="midnight">Midnight</option>
  <option value="matrix">Matrix</option>
</select>
<label style="float: right; margin-top: 30px; font-size: 18px;" for="theme-select" class="pismo2"><b>Výber motívu:</b>&nbsp;&nbsp;</label>

<div class="manual"><b>Priorita operátorov:</b>
<ol>
  <li>Negácia (¬)</li>
  <li>Negovaná Konjunkcia (↑)</li>
  <li>Negovaná Disjunkcia (↓)</li>
  <li>Negovaná Implikácia (⇏)</li>
  <li>Exkluzívna Disjunkcia (⊕)</li>
  <li>Konjunkcia (∧)</li>
  <li>Disjunkcia (∨)</li>
  <li>Implikácia (⇒)</li>
  <li>Ekvivalencia (⇔)</li>
</ol>

Pre vyhodnotenie formuly zadajte formulu do rámčeku pod oknom "Výstup" pomocou kláves pod rámčekom, alebo jednoducho skopírujte formulu z LaTeXu. Taktiež je možné formuly zadať ručne, všetky možné akceptované tvary operátorov sú vypísané v časti "Syntax". Vstupné pole obsahuje kontrolu syntaxe.
<br><br>
Po stlačení tlačidla "POTVRĎ" sa do okna výstup vypíšu nasledovné údaje:
<ul>
  <li><b>Zadaná formula:</b> formula načítaná zo vstupného poľa.</li>
  <li><b>Zjednodušená formula:</b> ak formula obsahuje prebytočné zátvorky alebo viacnásobné negácie, budú z nej odstránené.</li>
  <li><b>Negácia formuly:</b> Postup, ako negovať danú formulu. Operátory, ktoré sú v danom kroku negované sú zvýraznené červenou farbou.</li>
  <li><b>Negovaná formula:</b> Výsledok negácie formuly</li>
</ul>

Následne bude formula prevedená do Konjunktívnej Normálnej Formy (KNF). To sa deje pomocou nasledujúcich krokov:
<ol>
<li><b>Odstránenie implikácie a ekvivalencie: zvýraznené implikácie/ekvivalencie sú v nasledujúcom kroku prepísané následovne:</b></li>
φ ⇔ ψ ≡  (φ ⇒ ψ) ∧ (ψ ⇒ φ) ≡ (¬φ ∨ ψ) ∧ (¬ψ ∨ φ)<br>
φ ⇒ ψ  ≡  ¬φ ∨ ψ <br>
<br>
<li><b>Vloženie negácie do zátvorky a odstránenie operátorov</b> ↑, ↓, ⇏, ⊕<b>:</b></li>
¬(φ ∧ ψ)  ≡  ¬φ ∨ ¬ψ <br>
¬(φ ∨ ψ)  ≡  ¬φ ∧ ¬ψ <br>
φ ↑ ψ  ≡  ¬(φ ∧ ψ)  ≡  ¬φ ∨ ¬ψ <br>
φ ↓ ψ  ≡  ¬(φ ∨ ψ)  ≡  ¬φ ∧ ¬ψ <br>
φ ⇏ ψ  ≡  ¬(φ ⇒ ψ) ≡ ¬(¬φ ∨ ψ) ≡ φ ∧ ¬ψ <br>
φ ⊕ ψ  ≡  ¬(φ ⇔ ψ) ≡ ¬((¬φ ∨ ψ) ∧ (¬ψ ∨ φ)) ≡ φ ∧ ¬ψ ∨ ψ ∧ ¬φ<br>
<br>
<li><b>Vloženie disjunkcií do vnútra zátvoriek:</b></li>
φ ∨ (ψ ∧ θ) ≡ (φ ∨ ψ) ∧ (φ ∨ θ) <br>
(ψ ∧ θ) ∨ φ ≡ (ψ ∨ φ) ∧ (θ ∨ φ) <br>
(φ ∧ ψ) ∨ (θ ∧ ω) ≡ (φ ∨ θ) ∧ (φ ∨ ω) ∧ (ψ ∨ θ) ∧ (ψ ∨ ω) <br>
<br>
<li><b>Zjednodušenie odstránením klauzúl s komplementárnymi literálmi, duplicitných klauzúl a duplicitných literálov:</b></li>
¬φ ∨ φ ≡ ⊤ <br>
(φ ∨ ψ) ∧ (ψ ∨ φ) ≡ φ ∨ ψ <br>
φ ∨ ψ ∨ φ ≡ φ ∨ ψ  <br>
</ol>

<font color="#FF0000"><b>Ak niektorý z týchto krokov nespôsobil žiadnu zmenu vo formule, nebude vo výstupnom okne vypísaný.</b></font>
<br>

<ul>
  <li><b>Negovaná KNF:</b> Výsledok prevodu do KNF</li>
  <li><b>Množinová notácia:</b> prevod KNF do množinovej notácie</li>
  <li><b>Rezolučná tabuľka:</b> V tejto tabuľke sú uvedené všetky klauzuly a rezolventy v množinovej notácií v druhom stĺpci. Tabuľka uvádza postup rezolúcie, ktorý bol použitý na zistenie, či zadaná formula je tautológia. Klauzuly a rezolventy sú očíslované v prvom stĺpci tabuľky. V tretom stĺpci tabuľky je uvedené, ktoré klauzuly boli použité na vytvorenie danej rezolventy pomocou rezolúcie.
Pod tabuľkou je vypísaný výsledok rezolúcie, teda či daná formula je alebo nie je tautológia.</li>
</ul>

Pod vstupným poľom je možné nastaviť stratégiu rezolúcie, a spôsob výpisu stromu.
<br>
<br>
<b><u>Stratégie rezolúcie:</u></b><br>
<ul>
  <li><b>Úplná</b> - program sa pokúsi spojiť každú klauzulu s každou aby dosiahol výsledok rezolúcie. Prioritizuje však najprv jednotkové klauzuly.</li>
  <li><b>Jednotková</b> - program pri každej rezolúcií musí použiť aspoň jednu jednotkovú klauzulu.</li>
  <li><b>Lineárna</b> - program vždy využije v ďalšom kroku rezolventu predchádzajúceho kroku.</li>
</ul>

<b>Redukovaný strom</b> - Namiesto toho, aby boli v strome zobrazené všetky klauzuly a rezolventy, budú v ňom zobrazené len tie, ktoré viedli k výsledku.<br>
<font color="#FF0000"><b>Strom sa vypisuje po dokončení rezolúcie do okna "Rezolučný strom". Po kliknutí ľavým tlačidlom do okna "Rezolučný strom" bude tento strom skopírovaný v podobe LaTeX kódu ako tikz obrázok, ktorý je možné vložiť priamo do LaTeXu.</b></font></div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>